@page "/file-management/"
@model Album.Areas.Admin.Pages.fileManagement.IndexModel
@{
    ViewData["Title"] = "Danh sách File";
}
<h1>Danh sách File</h1>

<form method="get" asp-page="./Index">
    <p>
        Title: <input type="text"  />
        <input type="submit" value="Filter" />
    </p>
</form>

<form action="/" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    File
                </th>
                <th>
                    Select
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.FileManagementList)
                {
                    <tr>
                        <td>
                            @item.NameEvent
                        </td>
                        <td>
                            @item.NameDeadline
                        </td>
                        <td>
                            <a href="/uploads/@item.NameFile">@item.NameFile</a>
                        </td>
                        <td>
                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked=@item.FileSelect>
                            <label for="vehicle1">Selected</label><br>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
    <input type="submit" asp-for=@Model.FileManagementList value="Save"/>
    <input type="reset" value="Reset"/>
</form>