@page "/lockout/"
@model LockoutModel
@{
    ViewData["Title"] = "Temporarily deactivate your account";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account is temporarily locked, please try again later.</p>
</header>
