@page "/RegisterConfirmation/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    An email has been sent to you, you need to open the email and follow the instructions in the email afterwards
    <a href="@Model.UrlContinue">Click here to continue</a>
</p>
